<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ggufchat.texttest">
 <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35"/>
 <queries><package android:name="com.ggufchat.app"/></queries>
 <application android:label="Teste de texto do APK" android:theme="@android:style/Theme.Material.NoActionBar">
  <activity android:name=".TextActivity" android:exported="true"/>
 </application>
</manifest>
