<?xml version="1.0"?>
<parameters>
  <!-- RUS: Это конфиг для этого мода. Изменяйте параметры на свой страх и риск, изменение параметров может привести к поломке мода или самой игры -->
  <!-- ENG: This is the config for this mod. Change the parameters at your own risk, changing the parameters may cause damage to the mod or the game itself -->
  <!-- modType: Vehicle, Map -->
  <modType>Map</modType>
  <!-- modName: mod name -->
  <modName>Barbacena Centro</modName>
  <!-- author: mod author -->
  <author>Arena Barbacena</author>
  <!-- modVersion: number -->
  <modVersion>1.0</modVersion>
  <!-- Spawn point settings: Na Avenida Sul da Praca, com pista livre a frente virado para Leste -->
   <spawnPoint position_x="-140" position_y="1" position_z="-16" rotation_x="0" rotation_y="90" rotation_z="0">
  </spawnPoint>
  <!-- Alpha Materials settings -->
  <alphaMaterials materials_count="0">
  </alphaMaterials>
  <!-- Objects Groups Without Collision -->
  <withoutCollision groups_count="0">
  </withoutCollision>
  <!-- Objects With Simplified Colliders -->
  <convexColliders groups_count="0">
  </convexColliders>
   <!-- Invisible Objects With Collision -->
  <colliders groups_count="0">
  </colliders>
  <!-- Water Colliders -->
  <waterColliders groups_count="0">
  </waterColliders>
  <!-- Water Materials -->
  <waterMaterials materials_count="0">
  </waterMaterials>
   <!-- Audio Sources-->
  <audioSources audioSources_count="1">
    <source_1 position_x="0" position_y="0" position_z="0" audioClip="ambient.mp3" maxDistance="5000" is2D="true"/>
  </audioSources>
</parameters>
